<footer class="footer nav-down">
    <div id="button"></div>
    <div id="container">
        <div id="cont">
            <div class="">
                <div class="leftCorner">
                    All Rights Reserved © 2020 | <a href="">Privacy Policy</a> | <a href="">Terms of Service</a>
                </div>
                <div class="rightCorner">
                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href=""><i class="fa fa-facebook"></i></a>

                    <!--Twitter-->
                    <a class="icons-sm tw-ic" href="https://twitter.com/FoodsOnTrucks" target="_blank"><i class="fa fa-twitter"></i></a>

                    <!--Google +-->
                    <a class="icons-sm gplus-ic" href=""><i class="fa fa-google-plus"></i></a>

                    <!--Instagram-->
                    <a class="icons-sm ins-ic" href=""><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>